---
layout: default-event.hbs
title: Play AR
jsfile:
- pages/web-event/nft/nft-history
---

<div class="wrap">

    <!-- header 영역  -->
    <header class="moweb_header">
        <a href="javascript:history.back(-1);">&lt;</a>
        <div><span></span></div>
    </header>
    <!-- //header 영역 -->
<section>
        <!-- 당첨 이력 조회 -->
        <div class="nft_win_history">
            <div class="history_wrap">
                <div class="top">
                    <span class="win_title">
                        즐거운 혜택이 생겨나는
                        <span class="win_title_sub"></span>
                        <p>내가 받은 <span id="productType"></span> 확인하기 위해서는 당첨/응모 시 입력한 정보를 입력해주세요.</p>
                    </span>
                    <div class="info_form">
                        <ul>
                            <!-- 전화번호 입력 비활성화-->
                            <li id="phoneNumberLi" style="display: none;"><!-- 입력 활성화시 해당 li에 on class 추가 -->
                                <span class="title"><a href="javascript:void(0);" id="searchTypeMent"></a></span>
                                <div class="auth_number">			
                                    <input type="text" class="contents_input" maxlength="13" id="phoneNumber">
                                </div>
                            </li>
                            {{!-- <li id="smsCodeLi" style="display: none">
                                <span class="title"><a href="javascript:void(0);">인증코드입력</a></span>
                                <div class="auth_number">
                                    <input type="text" inputmode="numeric" class="contents_input" maxlength="6" id="smsCode">
                                </div>
                            </li> --}}
                            <!-- // 전화번호 입력 비활성화 -->

                             <!-- 당첨조회 비밀번호 비활성화-->
<!--                             <li id="passwordLi" style="display: none;">&lt;!&ndash; 입력 활성화시 해당 li에 on class 추가 &ndash;&gt;-->
<!--                                <span class="title"><a href="javascript:void(0);">당첨조회 비밀번호</a></span>-->
<!--                                <div class="auth_number">			-->
<!--                                    <input type="password" class="contents_input" maxlength="20" id="password" autocomplete="off">-->
<!--                                </div>-->
<!--                            </li>-->
                            <!-- // 전화번호 입력 비활성화 -->

                        </ul>
                    </div>
                    <div class="btn">
                        <a href="javascript:void(0);" id="nftHistorySearchBtn"></a>
                    </div>
                    <div class="btn" style="display: none" id="authSmsBtnDiv">
                        <a href="javascript:void(0);" id="authSmsBtn">인증하기</a>
                    </div>
                </div>
                <!-- 당첨이력 없음 시작 -->
                <div class="search_result" id="noDataDiv" style="display: none;">
                    <span class="title">조회결과</span>
                    <div class="empty">
                        <p>당첨 이력이 없습니다.</p>
                    </div>
                </div>
                <!-- // 당첨이력 없음 끝 -->

                <!-- 당첨이력 았을때 시작 -->
                <div class="search_result" id="dataDiv" style="display: none;">
                    <span class="title">조회결과</span>
                    <script id="searchResultTemplate" type="text/x-handlebars-template">
                    <ul id="dataUl">
                    \{{#each this}}
                        <li>
                            <div>
                                <span class="date">\{{this.createdDate}}</span>
                                <span class="txt">\{{this.productName}} \{{#ifvalue this.subscriptionYn value='N'}} 당첨 \{{/ifvalue}}</span> 
                                                                
                                \{{#ifvalue this.receiveStatusStr value='수령확인'}} <a id="btn1-@index" class="done2" value="\{{this.giveAwayId}}" data-give-away-id= "\{{this.giveAwayId}}">\{{this.receiveStatusStr}}</a> \{{/ifvalue}}
                                
                                \{{#ifvalue this.receiveStatusStr value='수령완료'}} <a class="done">\{{this.receiveStatusStr}}</a>\{{/ifvalue}}
                                \{{#ifvalue this.receiveStatusStr value='당첨성공'}} <a class="done">\{{this.receiveStatusStr}}</a>\{{/ifvalue}}
                                \{{#ifvalue this.receiveStatusStr value='당첨실패'}} <a class="done">\{{this.receiveStatusStr}}</a>\{{/ifvalue}}

                                \{{#ifvalue this.receiveStatusStr value='응모중'}} <a >\{{this.receiveStatusStr}}</a> \{{/ifvalue}}
                            </div>
                            <!-- NFT -->
                            \{{#ifvalue this.winningType value='NFT'}}
                                {{!-- \{{#ifvalue this.isSubscriptionWinningPresentation value=true}} --}}
                                    <div class="win_btn">
                                        <a href="javascript:void(0);" id="nft">NFT 보관함 확인하기</a>
                                    </div>
                                {{!-- \{{/ifvalue}} --}}
                            \{{/ifvalue}}
                            <!-- 쿠폰 -->
                            \{{#ifvalue this.winningType value='NFTCP'}}
                                {{!-- \{{#ifvalue this.isSubscriptionWinningPresentation value=true}} --}}
                                    <div class="win_btn">
                                        <a href="javascript:void(0);" id="coupon">쿠폰 보관함 확인하기</a>
                                    </div>
                                {{!-- \{{/ifvalue}} --}}
                            \{{/ifvalue}}
                            
                        </li>
                    \{{/each}}
                    </ul>
                    </script>
                </div>
                <!--  // 당첨이력 았을때 끝 -->

            </div>
        </div>
        <!-- // 당첨 이력 조회 -->
    </section>

    <!-- 공통 팝업 -->
    {{> common-popup }}
    <!-- //공통 팝업 -->
    
</div>