<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{path dirname 'adreport/resources'}}/img/favicon.ico">
    <!-- build:css(./) /resources/css/adreport.style.min.css -->
    <link data="a" rel="stylesheet" href="{{path dirname 'adreport/resources'}}/css/ad_reporting.css">
    <!-- endbuild -->
    {{!-- <link data="a" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"> --}}
    <link data="a" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.1/swiper-bundle.min.css">

    {{#each cssfile}}
        <link data="b" rel="stylesheet" href="{{path ../dirname 'adreport/resources/css'}}/{{.}}.css">
    {{/each}}
</head>
<body>
{{> search-loading}}
{{> body }}

{{!--외부 JS 라이브러리 Start--}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.1/swiper-bundle.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
{{!--외부 JS 라이브러리 End --}}

{{!--이 부분은 빌드 될때 js 스크립트, 현재 오류가 있지만 side effect이 많아 두벌로 유지 배포 할때 새로운 라이브러니는 여기에 추가 --}}
<!-- build:js(./) /resources/js/adreport.components.script.min.js -->
<script src="{{path dirname 'components'}}/jquery/dist/jquery.js"></script>
{{!-- <script src="{{path dirname 'components'}}/jquery-ui/ui/jquery-ui.js"></script> --}}
<script src="{{path dirname 'components'}}/handlebars/handlebars.js"></script>
<script src="{{path dirname 'components'}}/jquery-form/jquery.form.js"></script>
{{!--
<script src="{{path dirname 'components'}}/cookies-js/dist/cookies.min.js"></script>
<script src="{{path dirname 'components'}}/es6-shim/es6-shim.min.js"></script>
<script src="{{path dirname 'common'}}/es5-shim.min.js"></script>
<script src="{{path dirname 'common'}}/es5-sham.min.js"></script>
--}}
<!-- endbuild -->
<!-- build:js(./) /resources/js/adreport.common.script.min.js -->
<script src="{{path dirname 'common'}}/jstorage.js"></script>
<script src="{{path dirname 'common'}}/jquery-json/jquery-json.js"></script>
<script src="{{path dirname 'common'}}/Chart_plugin.js"></script>
<script src="{{path dirname 'common'}}/util.js"></script>
<!-- endbuild -->
<script src="{{path dirname 'adreport/resources'}}/js/pages/stats/stats-common.js"></script>
{{#each jsfile}}
    <script src="{{path ../dirname 'adreport/resources'}}/js/{{this}}.js"></script>
{{/each}}
</body>
</html>